:root {
  --color-navbar-bg: #1f2937;
  --color-navfont: white;
  --color-navbar-hover: #3b82f6;
  --color-main-bg: #f3f4f6;
  --color-welcome-section-font: #111827;
  --color-emphasis: #03327e;
  --color-card-bg: #e0f2fe;
  --color-card-title: #202b3b;
}

@media query {
}

body {
  margin: 0;
  padding-top: 70px;
  font-family: "Epunda Slab", serif;
}

#header {
  position: fixed;
  background-color: var(--color-navbar-bg);
  padding: 20px 40px;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
}

#navbar {
  gap: 40px;
  display: flex;
  margin-right: 100px;
}

#navbar a {
  transition: color 0.3s;
  color: var(--color-navfont);
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  text-align: right;
}

#navbar a:hover {
  color: var(--color-navbar-hover);
}

#welcome-section {
  background-color: var(--color-main-bg);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  scroll-margin-top: 70px;
  flex-direction: column;
}

#welcome-section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#welcome-section .content img {
  max-width: 180px;
  max-width: 200px;
  border-radius: 10px;
}

#welcome-section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: left;
}

#welcome-section .text h1 {
  font-size: 30px;
  color: var(--color-emphasis);
}

#welcome-section .text p {
  font-size: 30px;
  color: var(--color-welcome-section-font);
  margin: 0;
}

#projects {
  background-color: var(--color-main-bg);
  width: 100%;
  display: flex;
  min-height: 100vh;
  scroll-margin-top: 70px;
  flex-direction: column;
}

#projects h1 {
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

#projects .submit {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  display: flex;
}

.container-project {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-project {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
}

.card {
  background-color: salmon;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

#submit {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: white;
  color: red;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#submit:hover {
  background-color: green;
}

#education {
  background-color: var(--color-main-bg);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  scroll-margin-top: 70px;
}
#education #bolu-logo {
  height: 200px;
  width: 200px;
}
#education h1 {
  margin-top: 10px;
  color: var(--color-card-title);
}

#education .container-education {
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
#education .grid-education {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

#education .card-education {
  gap: 20px;
  background-color: var(--color-card-bg);
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
#education .card-education .text-education {
  display: flex;
  flex-direction: column;
}
#education .card-education .text-education ul {
  list-style-position: inside;
  text-align: left;
}

#project-tile {
  background-color: rgb(165, 97, 42);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  scroll-margin-top: 70px;
}
