:root {
  --color-navbar-bg: #1f2937;
  --color-navfont: white;
  --color-navbar-hover: #3b82f6;
  --color-main-bg: #f3f4f6;
  --color-welcome-section-font: #111827;
  --color-emphasis: #03327e;
  --color-card-bg: #e0f2fe;
  --color-card-title: #202b3b;
  --color-buttons: #2853c9;
  --color-small-buttons: #f0f0f0;
}

@media query {
}

body {
  margin: 0;
  padding-top: 70px;
  font-family: "Epunda Slab", serif;
}

#header {
  position: fixed;
  background-color: var(--color-navbar-bg);
  padding: 20px 40px;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
}

#navbar {
  gap: 40px;
  display: flex;
  margin-right: 100px;
}

#navbar a {
  transition: color 0.3s;
  color: var(--color-navfont);
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  text-align: right;
}

#navbar a:hover {
  color: var(--color-navbar-hover);
}

#welcome-section {
  background-color: var(--color-main-bg);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  scroll-margin-top: 70px;
  flex-direction: column;
}

#welcome-section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#welcome-section .content img {
  max-width: 180px;
  max-width: 200px;
  border-radius: 10px;
}

#welcome-section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: left;
}

#welcome-section .text h1 {
  font-size: 30px;
  color: var(--color-emphasis);
}

#welcome-section .text p {
  font-size: 30px;
  color: var(--color-welcome-section-font);
  margin: 0;
}

#projects {
  padding-top: 40px;
  background-color: #fefefe;
  scroll-margin-top: 70px;
}

#projects h1 {
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.container-project {
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

.grid-project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  background-color: #f9fafb;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #e7e8eb;
}
.card h1 {
  font-size: 25px;
}
.card p {
  color: #627e91;
}
.small-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: var(--color-small-buttons);
}
.buttons a {
  font-size: 30px;
}

#button-img {
  height: 20px;
  width: 20px;
}

.submit {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--color-small-buttons);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.submit a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: inherit;
  color: black;
}

.submit:hover {
  background-color: var(--color-buttons);
  transform: translateY(-5px);
}

.submit:hover a {
  color: white;
}

.submit-second {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 15px 0;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--color-navbar-bg);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-second:hover {
  background-color: var(--color-buttons);
}

.submit-second a {
  color: white;
  text-decoration: none;
  display: block;
}

#education {
  padding-top: 40px;
  background-color: var(--color-main-bg);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  scroll-margin-top: 70px;
}

#education #bolu-logo {
  height: 200px;
  width: 200px;
}
#education h1 {
  margin-top: 10px;
  color: var(--color-card-title);
  font-size: 30px;
}
#education h3 {
  color: var(--color-card-title);
}
#education .container-education {
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
#education .grid-education {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

#education .card-education {
  gap: 20px;
  background-color: var(--color-card-bg);
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
#education .card-education .text-education {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#education .card-education .text-education ul {
  list-style-position: inside;
  text-align: left;
}

#project-tile {
  padding-top: 40px;
  background-color: var(--color-main-bg);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  scroll-margin-top: 70px;
}
#project-tile h2 {
  font-size: 4rem;
}
#project-tile p {
  font-size: 1.5rem;
}
#profile-link > div {
  text-align: center;
}
#project-tile img {
  height: 25px;
  width: 25px;
}
.last-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.last-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  background-color: var(--color-small-buttons);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.last-submit:hover {
  transform: translateY(-5px);
}

footer {
  display: flex;
  justify-content: space-evenly;
  background: var(--main-gray);
}
